/* 
Theme Color :
B5c7d3
658DC6

*/
* {
  list-style: none;
  /*글씨체 변경*/
  @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
  font-family: "Nanum Gothic", sans-serif;
}
body {
  font-family: 'Nunito', sans-serif;
  background: #B5c7d3;
  margin: 0;
  height: 100vh;
}

.container-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 650px;
	text-align:center;
	background-color : white;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
	
	
}

.container-form input[type=text], input[type=password], input[type=email]
	{
	width: 350px;
	padding: 15px;
	margin: 10px 0px 30px 0px;
	display: inline-block;
	border: none;
	background-color: #f1f1f1;
	border-radius:10px;
	text-align:center;
	
}

.container-form h2, p {
	margin: 20px 0 20px 0;
}

.container-form hr {
	border-bottom: 1px solid #cbcbcb;
	width: 100%;
}

.container-form label {
	margin-left : 20px;
}

.block-form {
	margin: 15px 0 0px 0;
	padding-bottom: 5px;
}

.container-form form {
	width: 400px;
	box-sizing: content-box;
	margin-top: 5px;
	border-radius : 7px;
	
}

.container-form input[type=submit]{
	width: 300px;
	padding: 15px;
	margin: 0px;
	display: inline-block;
    font-size: 16px;
    color : white;
	background-color: #658DC6;
    border: unset;
    color: #fff;
    align-self: center;
    margin-top: 15px;
    border-radius:10px;
}

 footer {
      padding-top: 15px;
      text-align: center;	
}

 footer a {
	    color: #999;
        text-decoration: none;
        font-size: 11px;
        margin-left: 10px;
}
