@charset "UTF-8";

@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/muli/Muli-Regular.ttf");
}
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/muli/Muli-SemiBold.ttf");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Muli-Regular";
  font-size: 15px;
  color: #999;
  margin: 0;
  overflow: hidden;

}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

input,
textarea,
select,
button {
  font-family: "Muli-Regular";
  font-size: 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

/* Section 1-2-3 가 나타날 box 의 위치  */
.wrapper {
  float: left;
  width: 100%;
  /* content 를 중간으로 가져오는 역할 만약 하나만 존재할 시에 
  display: flex; */
}

/* 오늘의 근황 섹션 content box 의 위치 설정  */
.wizard {
    position: fixed;
    top: 150px;
    left: 100px;
    right: 0px;
    width: 750px;
    border: 1px solid #658DC6;
}

/* 진행 상황 update 표시  */
.wizard > .steps {
  position: absolute;
  top: 23%;
  left: 22%;
  transform: translateX(50%);
  z-index: 9;
}

/* step 에서 나오는 것들 fowrd/ backward */
.wizard > .steps .current-info,
.wizard > .steps .number {
  display: none;
}

.wizard > .steps ul {
  display: flex;
  justify-content: center;
}

.wizard > .steps li a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #b5c7d3;
  margin-right: 78px;
  position: relative;
}
.wizard > .steps li a:before {
  content: "";
  width: 58px;
  height: 2px;
  background: #b5c7d3;
  position: absolute;
  right: 22px;
  top: 5px;
}
.wizard > .steps li a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #658dc6;
  position: absolute;
  left: -68px;
  top: 5px;
  transition: all 0.6s ease;
}
.wizard > .steps li.first a {
  background: #658dc6;
}
.wizard > .steps li.checked a {
  background: #658dc6;
}
.wizard > .steps li.checked a:after {
  width: 58px;
}
.wizard > .steps li:last-child a {
  margin-right: 0;
}
.wizard > .steps li:first-child a:before {
  display: none;
}
.wizard > .steps li:first-child a:after {
  display: none;
}

.wizard > .content {
  position: relative;
  height: 700px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.inner {
  background: #fff;
}

.image-holder {
  width: 40%;
  height: 521px;
}

/* section 1,2,3 안에 있는 내용 content itself  */
.form-content {
  width: 100%;
  padding-top: 20px;
  padding-left: 51px;
  padding-right: 51px;
}

.form-header {
  text-align: center;
  margin-top: 10%;
}

h3 {
  font-size: 22px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 5px 15px;
  display: inline-block;
  border-bottom: 2px solid lightgray;
}

.info {
	margin-top: 15px;
	font-size: 20px;
	color: black;
}

span {
	color: #658dc6;
}

.printinfo {
	text-align: center;
    margin-left: 150px;
}

p {
  font-size: 20px;
  color: #658dc6;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

/* 글씨 출력 부분  */
.form-row {
  display: flex;
  margin-bottom: 18px;
  text-align: center;
  justify-content: center;
}
.form-row .form-holder {
  width: 100%;
  margin-right: 30px;
}
.form-row .form-holder:last-child {
  margin-right: 0;
}
.form-row .form-holder.w-100 {
  width: 100%;
  margin-right: 0;
}
.form-row .select {
  width: 50%;
  margin-right: 30px;
}
.form-row .select .form-holder {
  width: 100%;
  margin-right: 0;
}

.select {
  position: relative;
}
.select .select-control {
  height: 37px;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
  color: #999;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  background: #fff;
  z-index: 9;
  border: 1px solid #81acee;
}
.select .dropdown li {
  padding: 5px 10px;
}
.select .dropdown li:hover {
  background: #81acee;
  color: #fff;
}

.form-holder {
  position: relative;
}
.form-holder i {
  position: absolute;
  bottom: 7px;
  right: 0;
  font-size: 17px;
}

.form-control {
  height: 37px;
  border: none;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
  color: #666;
}

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #999;
}
select.form-control option[value=""][disabled] {
  display: none;
}

textarea.form-control {
  padding: 8px 0;
  background: url("../images/textarea-bg.png") no-repeat right bottom 3px;
}
/* forward - backward action  */
.actions {
  position: absolute;
  bottom: 55px;
  left: 300px;
}


.actions ul {
  display: flex;
}

.submit {
    padding: 0 !important;
    border: none !important;
    /* display: inline-flex !important; */
    height: 42px !important;
    width: 135px !important;
    align-items: center !important;
    background: #658DC6 !important;
    /* font-family: "Muli-SemiBold" !important; */
    color: white !important;
    cursor: pointer !important;
    /* position: relative !important; */
    /* padding-left: 28px !important; */
    margin-left: 405px;
    margin-top: 297px;
}


.actions li a {
  padding: 0;
  border: none;
  display: inline-flex;
  height: 41px;
  width: 135px !important;
  align-items: center;
  background: #e9e0cf;
  font-family: "Muli-SemiBold";
  color: #666;
  cursor: pointer;
  position: relative;
  padding-left: 28px;
}
.actions li a:before {
  content: "\f301";
  position: absolute;
  top: 14px;
  right: 28px;
  
  font-family: Material-Design-Iconic-Font;
}
.actions li a:hover {
  background: #cfc7b8;
}
.actions li:first-child a {
  width: 135px;
  padding-left: 48px;
}
.actions li:first-child a:before {
  content: "\f2ff";
  position: absolute;
  top: 14px;
  left: 26px;
  font-family: Material-Design-Iconic-Font;
}
.actions li:nth-child(2) a,
.actions li:last-child a {
  margin-left: 20px;
}
.actions li:last-child a {
  width: 124px;
  background: #658DC6;
  color: white;
}
.actions li:last-child a:hover {
  background: #658DC6;
}
.actions li:last-child a:before {
  content: "\f26b";
  position: absolute;
  top: 13px;
  right: 28px;
  font-family: Material-Design-Iconic-Font;
}
.actions li[aria-disabled="true"] a {
  opacity: 0;
  transition: all 1s;
}
.actions li[aria-disabled="false"] ~ li a {
  background: #658DC6;
  color: white;
}
.actions li[aria-disabled="false"] ~ li a:hover {
  background: #658DC6;
}

.checkbox-tick label {
  cursor: pointer;
  display: inline-block;
  padding-left: 23px;
  position: relative;
}
.checkbox-tick label.male {
  margin-right: 26px;
}
.checkbox-tick input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-tick input:checked ~ .checkmark {
  background: #999;
}
.checkbox-tick input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-tick .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 13px;
  width: 13px;
  border: 1px solid #999;
  border-radius: 50%;
  font-family: Material-Design-Iconic-Font;
  color: #fff;
  font-size: 11px;
}
.checkbox-tick .checkmark:after {
  top: 0;
  left: 2px;
  position: absolute;
  display: none;
  content: "\f26b";
}

/* 출결 내용 글귀 아래 주의사랑  */
.checkbox-circle {
  position: relative;
  padding-left: 25%;
  margin-top: 41px;
  width: 100%;
}
.checkbox-circle.mt-24 {
  margin-top: 24px;
}
.checkbox-circle label {
  cursor: pointer;
  color: #999;
  font-size: 13px;
  line-height: 1.9;
  transform: translateY(-5px);
}
.checkbox-circle label a {
  color: #6d7f52;
}
.checkbox-circle label a:hover {
  color: #89b843;
}
.checkbox-circle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-circle input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-circle .checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 1px solid #999;
}
.checkbox-circle .checkmark:after {
  content: "";
  top: 2px;
  left: 2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #999;
  position: absolute;
  display: none;
}

@media (max-width: 991px) {
  .wizard {
    max-width: 768px;
  }

  .image-holder img {
    height: 521px;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .inner {
    display: block;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }

  .image-holder {
    width: 100%;
  }
  .image-holder img {
    width: 100%;
  }

  .form-content {
    width: 100%;
    padding: 50px 20px 30px;
  }

  .form-row {
    display: block;
  }
  .form-row .form-holder,
  .form-row .select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 18px;
  }

  .wrapper {
    height: 1201px;
    background: none;
  }

  .checkbox-circle {
    width: 100%;
  }

  .wizard {
    height: 100%;
  }
  .wizard > .steps {
    right: 50%;
    top: 52%;
    transform: translateX(50%);
  }

  .actions {
    right: 50%;
    transform: translateX(50%);
    bottom: 3%;
  }
}

/*# sourceMappingURL=style.css.map */

/* 
Theme Color :
B5c7d3
658DC6

*/
* {
  list-style: none;
  /*글씨체 변경*/
  @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
  font-family: "Nanum Gothic", sans-serif;
}
.container {
  padding: 0 20px;
}

li {
  float: left;
}
a {
  /*     width: 100%;
    height: 100%; */
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
body {
  min-height: 100vh;
  position: relative;
}
input {
  font-size: 18px;
}
.clear {
  clear: both;
}
/* //기본 설정 */

/* header */
header {
  width: 100%;
  height: 65px;
  line-height: 75px;
  color: #658dc6;
}
header .logo {
  float: left;
  font-size: 30px;
  font-weight: 700;
  display: flex;
}

header .sidemenu {
  float: right;
  margin-right: 5%;
  margin-top: 20px;
}
header .sidemenu > li {
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  list-style-type: none;
}
header .sidemenu > li:hover {
  color: #658dc6;
}

/* //header */

/* nav */
nav {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #cbcbcb;
  position: fixed;
}
nav .leftMenu {
  float: left;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
    margin-left: 160px;
}
nav .leftMenu > li {
  width: auto;
  padding: 0 20px;
  height: 100%;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  position: relative;
  list-style-type: none;
}
nav .leftMenu > li:hover > .dropmenu {
  visibility: visible;
  z-index: 11;
}
nav .leftMenu > li > .dropmenu {
  display: inline-block;
  width: 150px;
  clear: both;
  position: absolute;
  top: 59px;
  left: 0;
  text-align: left;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  visibility: hidden;
}
nav .leftMenu > li > .dropmenu > span {
  width: 100%;
  display: inline-block;
  padding-left: 20px;
  background: #658dc6;
  color: white;
  font-weight: 400;
}
nav .leftMenu > li > .dropmenu > span:hover {
  font-weight: 700;
}

nav .leftMenu > li:hover {
  color: #658dc6;
  font-weight: 700;
  border-bottom: 3px solid #658dc6;
}
nav .leftMenu > li.active {
  color: #658dc6;
  font-weight: 700;
  border-bottom: 3px solid #658dc6;
}

/* //nav */

.main .split_two {
    float: left;
    /* margin-top: 14px; */
    /* position: fixed; */
}
/* wrapper 2 css */
.wrapper2 {
    height: 700px;
    float: left;
    position: fixed;
    /* margin-bottom: 20px; */
    width: 350px;
    /* margin-right: 0px; */
    margin-top: 16px;
    margin-left: 870px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    border: 1px solid #658DC6;
}

.wrapper2 h3 {
  margin-top: 10%;
}

.wrapper3 .intro h1 {
  font-size: 22px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 5px 15px;
  /* text 에 맞도록 vorder-bottom */
  display: inline-block;
  border-bottom: 2px solid lightgray;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 30px;
}

.helpText p {
  font-family: "Muli-SemiBold";
  font-size: 13px;
  color: gray;
  text-align: center;
  margin-bottom: 0px !important;
  margin-top: 15px !important;
}

#enter {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  height: 35px;
  background-color: #658dc6;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
  font-weight: normal;
}

#enter:hover {
  background-color: #02798f;
  color: #ffcd5d;
}

.wrapper3 ul {
  text-align: left;
  margin-top: 20px;
}

.wrapper3 #myList li {
  list-style: none;
  text-align: center;
  padding: 10px 20px;
  color: black;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #025f70 !important;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #b5c7d3;
  width: 85%;
  margin-left: 7%;
  transition: all 0.75s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
}

.wrapper3 #myList li:hover {
  background: #658dc6;
  color: white;
}

.wrapper3 #myList li > button {
  font-weight: normal;
  background: none;
  border: none;
  margin-left: 10%;
  color: #658dc6;
  font-weight: 800;
}

.wrapper3 #myList li > button:hover {
  font-weight: normal;
  background: none;
  border: none;
  margin-left: 10%;
  color: white;
  font-weight: 800;
}

.wrapper3 input {
	border-radius: 5px;
    min-width: 300px;
    padding: 5px;
    border: 2px solid lightgray;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 15px;		
}

.doneList {
  background: #51df70 !important;
  color: #00891e;
}

.delete {
  display: none;
}

/* wrapper3 css */
.wrapper3 {
      height: 700px;
    width: 420px;
    position: fixed;
    float: left;
    margin-left: 1240px;
    margin-top: 15px;
    text-align: center;
    border: 1px solid #658DC6;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

canvas{border: 1px solid gray;border-radius: 3px;}

.list_t {
    padding: 10px !important;
    margin-bottom: 5px !important;
}

.list_t:hover {
    background-color: #B5c7d3;
}

.to_table {
	margin-left: 27px;
	border-collapse: collapse;
	border: 1px solid #658DC6 !important;
	border-radius: 20px;
	margin-top: 15px;
	
	
}

td {
	text-align: center;
    padding: 9px;
   }

.listItems {
  overflow: scroll;
  height: 470px;
}

.doneStyle {
	margin-bottom: 5px;
}

  

