@charset "UTF-8";

/* 
Theme Color :
B5c7d3
658DC6

*/
* {
  list-style: none;
  /*글씨체 변경*/
  @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
  font-family: "Nanum Gothic", sans-serif;
}
.container {
  padding: 0 20px;
}

li {
  float: left;
}

.link {
	font-size: 10px;
	color:gray;
}

.close {
	width: 30px !important;
    font-size: 10px;
}

a {
  /*     width: 100%;
            height: 100%; */
    color: inherit;
  text-decoration: none;
  display: inline-block;
}
body {
  overflow: hidden;
}
input {
  font-size: 15px;
  width: 300px;
  text-align: center;
  /* text-decoration: none; */
  border: 1px solid white;
  background-color: white;
}
.clear {
  clear: both;
}
/* //기본 설정 */

/* header */
header {
  width: 100%;
  height: 40px;
  /* line-height: 75px; */
  color: #658dc6;
}
header .logo {
  float: left;
  font-size: 30px;
  font-weight: 700;
    /* display: flex; */
    margin-top: -20px;
    margin-left: 20px;
}

header .sidemenu {
  float: right;
  margin-right: 7%;
  margin-top: 20px;
}
header .sidemenu > li {
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  list-style-type: none;
}
header .sidemenu > li:hover {
  color: #658dc6;
}

/* //header */

/* nav */
nav {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #cbcbcb;
}
nav .leftMenu {
  float: left;
  position: fixed;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  margin-left: 9%;
  margin-top: 0px;
}
nav .leftMenu > li {
  width: auto;
  padding: 0 20px;
  height: 100%;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  position: relative;
  list-style-type: none;
}
nav .leftMenu > li:hover > .dropmenu {
  visibility: visible;
  z-index: 11;
}
nav .leftMenu > li > .dropmenu {
  display: inline-block;
  width: 150px;
  clear: both;
  position: absolute;
  top: 59px;
  left: 0;
  text-align: left;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  visibility: hidden;
}
nav .leftMenu > li > .dropmenu > span {
  width: 100%;
  display: inline-block;
  padding-left: 20px;
  background: #658dc6;
  color: white;
  font-weight: 400;
}
nav .leftMenu > li > .dropmenu > span:hover {
  font-weight: 700;
}

nav .leftMenu > li:hover {
  color: #658dc6;
  font-weight: 700;
  border-bottom: 3px solid #658dc6;
}
nav .leftMenu > li.active {
  color: #658dc6;
  font-weight: 700;
  border-bottom: 3px solid #658dc6;
}
.body {
  heigth: 500px;
}
.box1 {
  width: 400px;
  height: 700px;
  margin-left: 1200px;
  /* display: inline-block; */
  margin-top: 30px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.box1 h2 {
  font-size: 18px;
  color: white;
  text-align: center;
}
.chatHeader {
  padding: 0.2em 0.5em;

  background-color: #658dc6;

  color: white;
}

.chatContent {
  border: 1px solid #b5c7d3;
  height: 500px;
  margin: 10px;
  overflow: scroll;
  
}

.chatText .chatTextArea {
  width: 350px;
  height: 75px;
}

.submit {
  background-color: #f5f5f5;
  height: 34px;
}

.submit .btn {
  margin-top: 7px;
  width: 100px;
  background-color: #658dc6;
  color: #fff;
  border-radius: 1.5em;
  padding: 3px;
  border: none;
}
.submit .btn:hover {
  background-color: #b5c7d3;
  color: black;
}

.box2 {
  height: 700px;
  display: inline-block;
  min-height: 100px;
  border: 1px solid #eaeaea;
  width: 1000px;
  /* float: left; */
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
}

.widget-post__header {
  padding: 0.2em 0.5em;

  background-color: #658dc6;
  color: #3f5563;
}
.widget-post__title {
  font-size: 18px;
  color: white;
  text-align: center;
}

.widget-post__content {
  width: 100%;
  height: 78%;
}
.widget-post__textarea {
  height: 500px;
  padding: 10px;
  width: 95%;
  border: none;
  font-size: 16px;
  resize: none;
}
.widget-post__textarea:focus {
  outline: none;
}

.widget-post__options {
  padding: 0.5em;
}
.widget-post___input {
  display: inline-block;

  width: 24%;
  padding: 0.2em 0.5em;

  border: 1px solid #eaeaea;
  border-radius: 1.5em;
}
.post-actions__label {
  cursor: pointer;
}

.post--actions {
  position: relative;
  padding: 0.5em;

  background-color: #f5f5f5;
  color: #a2a6a7;
}
.post-actions__attachments {
  display: inline-block;
  width: 60%;
}
.attachments--btn {
  background-color: aliceblue;
  color: #658dc6;
  border: 1px solid #658dc6;
  border-radius: 10px;
  font-weight: 200;
}

.attachments--btn:hover {
  background-color: #b5c7d3;
  color: black;
  border: 1px solid #658dc6;
  border-radius: 10px;
}

.post-actions__widget {
  display: inline-block;
  width: 1000px;
  height: 50px;
  text-align: center;
  background-color: #f5f5f5;
}
.post-actions__publish {
  width: 120px;
  background-color: #658dc6;
  color: #fff;
  border-radius: 1.5em;
  margin-top: 10px;
  padding: 7px;
  border: none;
  font-size: 13px !important;
}
.post-actions__publish:hover {
  width: 120px;

  background-color: #b5c7d3;
  color: black;

  border-radius: 1.5em;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.is--hidden {
  display: none;
}

.widget-post__content table {
  margin: 10px 45px 8px;
}

#tr_btn_modify {
  display: none;
}

.image-table {
  margin: 20px 10px 8px;
}

textarea {
  padding: 15px;
  text-align: left;
  border-radius: 10px;
  background: aliceblue;
  border: 1px solid #658dc6;
}

#i_title, #i_FileName {
	border : 2px solid white;
}


